<div>
    <div class="d-flex gap-3">
        <h5 class="text-white"><%= movie.title %></h5>
        <a href=<%= "video?id=" + movie.id%>>
            <i class="fa-solid fa-play"></i>
        </a>
    </div>
</div>